*.o
*.exe
*.dll

red_engine

.idea

temp
export_package
site

__pycache__
venv

0.0.workspace

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

cmake-build-*
